{% extends 'master_file/master.html' %}

{% block title%} My Blog {% endblock title %}

{% block content %}

<section
        style="width:400px; margin:0 auto; border:1px solid gray; height:300px ; padding:10px">
    <h2>MY Blog</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus cum
        dolorem ea esse ipsum magnam natus non, quae rem ullam? Consequuntur
        debitis
        est maxime nam omnis, perferendis quae quibusdam! Asperiores atque
        deleniti
        explicabo ipsum maiores molestias natus odio praesentium, quidem
        voluptas.
        Amet labore laborum nam officiis provident. Doloribus, exercitationem
        quisquam.</p>
</section>

{%endblock content %}
