<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {% block title%} {%endblock%} </title>
</head>
<body>

<!--Start of Section Header part-->

<section>
    <nav>
        <ol>
            <li>Home</li>
            <li>About Me</li>
            <li>Blogs</li>
            <li>Projects</li>
            <li>Services</li>
            <li>Top Work</li>
            <li>Contribution</li>
            <li>Contact</li>
        </ol>
    </nav>
</section>


<!--End of Section Header part-->

<!--Star tContainer of Contact-->

{% block content %}

{% endblock %}

<!--End Container of Contact-->


</body>
</html>